<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="col d-flex justify-content-end align-items-center">
    <span class="d-inline-block my-3">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link" %>
    </span>
  </div>
  <h1 class="page-title text-center mt-3"><%= t('.title') %></h1>
  <div class="card custom-card-profile-width">
    <div class="profile-container">
      <div class="row justify-content-center">
        <div class="col-9">
          <%= form_with url: password_resets_path, local: true, method: :post do |f| %>
            <div class="pb-4">
              <%= f.label :email, class: "profile-form-label" %>
              <%= f.email_field :email, class: "form-control", required: true %>
            </div>
            <div class="row mt-4">
              <div class="col d-flex justify-content-center align-items-center">
                <%= f.submit t('.reset_password'), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
