<% breadcrumb :menu, @menu %>
<div class="container">
  <div class="row mt-3">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to t('show.to_top_page'), root_path, class: "custom-link", data: { turbo: false } %>
    </div>
  </div>
  <h1 class="page-title text-center"><%= t('show.title') %></h1>
  <div class="row d-flex justify-content-end sns-share-button mb-3">
    <div class="col-8 d-flex justify-content-end align-items-center">
      <p class="app-share-menu"><span class="marker">メニュー表をシェア</span>　／</p>
    </div>
    <div class="col-1 d-flex justify-content-end align-items-center x-icon-menu">
      <%= link_to "Tweet", "https://twitter.com/share?text=【#{@menu.title}】%0a%0a&url=#{menu_url(@menu)}%0a&hashtags=MenuMaker", class: "twitter-share-button x-icon-menu", data: { size: "small", show_count: "false" }, target: "_blank" %>
    </div>
    <div class="col-1 d-flex justify-content-end align-items-center">
      <%= link_to image_tag("wide-default.png", alt: "LINEでシェア", class: "line-icon-menu"), "https://social-plugins.line.me/lineit/share?url=#{request.original_url}&text=【#{@menu.title}】", class: "line-share-button icon-menu", target: "_blank" %>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end align-items-center">
    <button data-action="click->menu#capture" class="btn btn-menu-imaging" id="capture-button"><%= t('show.download_menu') %></button>
  </div>
  <% case @menu.design_id %>
  <% when 1 %>
    <%= render 'menus/designs/izakaya' %>
  <% when 2 %>
    <%= render 'menus/designs/cafe' %>
  <% when 3 %>
    <%= render 'menus/designs/restaurant' %>
  <% else %>
    <p>No design selected.</p>
  <% end %>
  <img id="menu-image" alt="メニュー表の画像" style="max-width: 100%; display: none;">
  <div class="container px-5 my-4">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-5 d-flex justify-content-center align-items-center">
        <%= link_to t('show.edit'), edit_menu_path, class: "btn btn-recipe-edit btn-sm me-5", data: { turbo: false } %>
      </div>
      <div class="col-5 d-flex justify-content-center align-items-center">
        <%= button_to t('show.delete'), menu_path(@menu), method: :delete, data: { turbo: false }, form: {onSubmit: "return delete_confirm('このメニュー表を削除しますか？')" }, class: "btn btn-recipe-delete btn-sm ms-5" %>
      </div>
    </div>
  </div>
</div>