<% content_for(:title, t('.title')) %>
<% breadcrumb :edit_menu, @menu %>
<div class="container">
  <div class="row mt-3">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link", data: { turbo: false } %>
    </div>
  </div>
  <h1 class="page-title text-center"><%= t('.title') %></h1>
  <% if @recipes.present? %>
    <%= form_with model: @menu do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <div class="row d-flex justify-content-center">
        <div class="col-10 text-start">
          <%= f.label :title, class: 'menu-form-label' %>
          <%= f.text_field :title, class: 'menu-form-control', placeholder: t('.menu_title') %>
        </div>
      </div>
      <div class="container px-5">
        <h4 class="recipe-select"><%= t('.recipe_select') %></h4>
        <div class="recipe-list">
          <% @recipes.each do |recipe| %>
            <div class="my-3 px-3 me-1 border-bottom border-dark" id="recipe_<%= recipe.id %>">
              <div class="row">
                <div class="col-1 d-flex justify-content-center align-items-center add-menu-checkbox">
                  <%= check_box_tag 'menu[recipe_ids][]', recipe.id, @selected_recipes.include?(recipe.id) %>
                </div>
                <div class="col-10 d-flex justify-content-start align-items-center">
                  <div class="recipe-text">
                    <div class="recipe-header">
                      <h3 class="recipe-title">
                        <%= link_to recipe.title, recipe_path(recipe), class: 'no-underline' %>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-end add-note">
                  <div class="col-3 d-flex justify-content-end align-items-center note-label">
                    <h5><%= t('.menu_recipe_note') %></h5>
                  </div>
                  <div class="col-9 d-flex justify-content-start align-items-center note-input">
                    <%= text_area_tag "menu[recipe_notes][#{recipe.id}]", @menu_recipe_notes[recipe.id], placeholder: '補足情報を入力してください', class: 'form-control', rows: 1 %>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row my-5 d-flex justify-content-center edit-menu">
        <div class="col-6 d-flex justify-content-end align-items-center">
          <%= f.select :design_id, options_from_collection_for_select(@designs, :id, :name, @selected_design), {}, class: "form-select" %>
        </div>
        <div class="col-6 d-flex justify-content-start align-items-center">
          <%= f.submit t('.update'), class: "btn btn-primary", data: { turbo: false } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-info text-center">
      <%= t('.no_recipes_saved') %>
    </div>
  <% end %>
</div>
