<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="col d-flex justify-content-end align-items-center">
    <span class="d-inline-block my-3">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link" %>
    </span>
  </div>
  <h1 class="text-center mt-3"><%= t('.title') %></h1>
  <% if @menus.any? %>
    <div class="container my-5">
      <div class="menu-list">
        <% @menus.each do |menu| %>
          <div class="my-3 px-3" id="menu_<%= menu.id %>">
            <div class="row menu-preview mx-5">
              <div class="col-1"></div>
              <div class="col-7 d-flex justify-content-start align-items-center">
                <h3 class="menu-title">
                    <%= link_to menu.title, menu_path(menu), class: 'no-underline' %>
                </h3>
              </div>
              <div class="col-4 d-flex justify-content-center align-items-center">
                <div class="row">
                  <div class="col-6 d-flex justify-content-center align-items-center">
                    <%= link_to t('.edit'), edit_menu_path(menu), class: "btn btn-recipe-edit btn-sm" %>
                  </div>
                  <div class="col-6 d-flex justify-content-start align-items-center">
                    <%= link_to t('.delete'), menu_path(menu), data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete') }, class: "btn btn-recipe-delete btn-sm" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="alert alert-info text-center">
      <%= t('.no_menus_saved') %>
    </div>
  <% end %>
  </div>
</div>