<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @menu.title %></title>
    <style>
      <% if @layout['font-face'] %>
        @font-face {
          font-family: <%= raw "'#{@layout['font-face']['font-family']}'" %>;
          src: <%= raw @layout['font-face']['src'] %>;
          font-weight: <%= @layout['font-face']['font-weight'] %>;
          font-style: <%= @layout['font-face']['font-style'] %>;
        }
      <% end %>

      <% @layout.each do |key, properties| %>
        <% if key == 'body' %>
          .menulist-container {
            <% properties.each do |prop, value| %>
              <%= prop.gsub('_', '-') %>: <%= raw(value.is_a?(Array) ? value.map { |v| "'#{v}'" }.join(', ') : value) %>;
            <% end %>
          }
        <% elsif key != 'font-face' %>
          .menulist-container .<%= key %> {
            <% properties.each do |prop, value| %>
              <%= prop.gsub('_', '-') %>: <%= raw(value.is_a?(Array) ? value.map { |v| "'#{v}'" }.join(', ') : value) %>;
            <% end %>
          }
        <% end %>
      <% end %>

      <% if @layout['media-queries'] %>
        <% @layout['media-queries'].each do |device, settings| %>
          @media (<%= settings['media'] %>) {
            <% settings['styles'].each do |selector, properties| %>
              .menulist-container <%= selector %> {
                <% properties.each do |prop, value| %>
                  <%= prop.gsub('_', '-') %>: <%= raw(value.is_a?(Array) ? value.map { |v| "'#{v}'" }.join(', ') : value) %>;
                <% end %>
              }
            <% end %>
          }
        <% end %>
      <% end %>
    </style>
  </head>
  <body>
    <% if logged_in? %>
      <%= render 'show' %>
    <% else %>
      <%= render 'before_login_show' %>
    <% end %>
  </body>
</html>