<div class="container ingredient-fields mb-2" data-new-form="<%= f.object.new_record? ? 'true' : 'false' %>">
  <div class="row align-items-center">
    <div class="col-auto pe-0">
      <%= f.text_field :name, placeholder: t('ingredient_fields.ingredient_name'), class: 'ingredient-name' %>
    </div>
    <div class="col-auto px-0">
      <%= f.text_field :quantity, placeholder: t('ingredient_fields.quantity'), class: 'ingredient-quantity' %>
    </div>
    <div class="col-auto px-0">
      <%= f.text_field :unit, placeholder: t('ingredient_fields.unit'), class: 'ingredient-unit' %>
    </div>
    <% unless f.object.new_record? %>
      <div class="col-auto d-flex align-items-center delete-checkbox">
        <%= f.check_box :_destroy %>
        <%= f.label :_destroy, t('ingredient_fields._destroy'), class: 'ms-2' %>
      </div>
    <% end %>
  </div>
</div>