<% content_for(:title, t('.title')) %>
<% breadcrumb :recipe, @recipe %>
<div class="container">
  <div class="row mt-3">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link", data: { turbo: false } %>
    </div>
  </div>
  <h1 class="page-title text-center"><%= t('.title') %></h1>
  <div class="card custom-card-manual-save mx-auto pb-3">
    <div class="row show-recipe-title">
      <div class="col-12 d-flex justify-content-center">
        <h2><%= @recipe.title %></h2>
      </div>
      <div class="col-11 d-flex justify-content-end">
        <% if @recipe.source_site_name.present? %>
          <p>出典: <%= link_to @recipe.source_site_name, @recipe.source_url, class: "no-underline", target: "_blank" %></p>
        <% else %>
          <%= link_to "https://twitter.com/share?text=【#{@recipe.title}】%0a%0a&url=#{recipe_url(@recipe)}%0a&hashtags=MenuMaker", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: t('.share_X') do %>
            <i class="fab fa-twitter x-icon-recipe"></i>
          <% end %>
          <%= link_to image_tag("square-default.png", alt: "LINEでシェア", class: "line-icon-recipe"), "https://social-plugins.line.me/lineit/share?url=#{request.original_url}&text=【#{@recipe.title}】", class: "line-share-button", target: "_blank", data: { toggle: "tooltip", placement: "bottom" }, title: t('.share_LINE') %>
          <p>出典: 自作レシピ</p>
        <% end %>
      </div>
    </div>
    <div class="container px-3">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="container px-3">
            <% if @recipe.image.present? %>
              <%= image_tag @recipe.image.url, class: 'show-recipe-photo', alt: @recipe.title %>
            <% else %>
              <%= image_tag 'default_image.png', class: 'show-recipe-photo', alt: 'サンプル画像' %>
            <% end %>
            <div class="row show-ingredient-row">
              <div class="col-12">
                <h3 class="subtitle"><%= t('.ingredients') %></h3>
                <div class="show-recipe-container">
                  <% @recipe.ingredients.each do |ingredient| %>
                    <div class="row border-bottom border-dark">
                      <div class="col-7 d-flex justify-content-start align-items-center">
                        <%= ingredient.name %>
                      </div>
                      <div class="col-2 d-flex justify-content-end align-items-center">
                        <%= ingredient.quantity %>
                      </div>
                      <div class="col-3 d-flex justify-content-start align-items-center">
                        <%= ingredient.unit %><br>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="container px-3">
            <div class="col-12">
              <h3 class="subtitle"><%= t('.instructions') %></h3>
              <div class="show-recipe-container">
                <% @recipe.instructions.each do |instruction| %>
                  <div class="row border-bottom border-dark mb-3">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                      <%= instruction.step_number %>
                    </div>
                    <div class="col-10 d-flex justify-content-start align-items-center">
                      <%= instruction.description %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-5 my-4">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-4 d-flex justify-content-center align-items-center">
        <%= link_to t('.edit'), edit_recipe_path, class: "btn btn-recipe-edit", data: { turbo: false } %>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <%= button_to t('.delete'), recipe_path(@recipe), method: :delete, data: { turbo: false }, form: {onSubmit: "return delete_confirm('このレシピを削除しますか？')" }, class: "btn btn-recipe-delete btn-sm" %>
      </div>
    </div>
  </div>
</div>