<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="col d-flex justify-content-end align-items-center">
    <span class="d-inline-block my-3">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link" %>
    </span>
  </div>
  <h1 class="text-center mt-3"><%= t('.title') %></h1>
  <%= form_with model: @recipe do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="card mt-5 custom-card-manual-save mx-auto">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10 text-start">
          <%= f.label :title, class: 'form-label', style: 'font-size: 30px;' %>
          <%= f.text_field :title, class: 'form-label', style: 'width: 680px; height: 50px;' %>
        </div>
      </div>
      <div class="container py-2 my-5">
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <div id="ingredients-form" data-controller="dynamic-form" data-mode="edit" data-dynamic-form-target="nestedForms">
              <%= f.label :ingredients, class: 'form-label' %>
              <%= f.fields_for :ingredients do |ingredient_fields| %>
                <%= render 'ingredient_fields', f: ingredient_fields %>
              <% end %>
              <%= link_to t('.add_ingredient'), '#', class: 'add-ingredient btn btn-manual_save mt-5', data: { action: 'click->dynamic-form#addIngredientForm' } %>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <div id="instructions-form" data-controller="dynamic-form" data-mode="edit" data-dynamic-form-target="nestedForms">
              <%= f.label :instructions, class: 'form-label'%>
              <%= f.fields_for :instructions  do |instruction_fields| %>
                <%= render 'instruction_fields', f: instruction_fields %>
              <% end %>
              <%= link_to t('.add_instruction'), '#', class: 'add-instruction btn btn-manual_save mt-5', data: { action: 'click->dynamic-form#addInstructionForm' } %>
            </div>
          </div>
        </div>
      </div>
      <div class="row mx-5">
        <%= f.label :image, class: 'form-label' %>
        <div class="col-6 d-flex justify-content-start align-items-center mb-5">
          <%= f.file_field :image, class: 'form-control', style: 'width: 400px;' %>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="col-4 d-flex justify-content-start align-items-center mb-5">
          <%= image_tag @recipe.image.url, id: 'preview', size: '130x100' %>
        </div>
      </div>
    </div>
    <div class="d-grid gap-2 col-4 mx-auto my-5">
      <%= f.submit t('.save'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>