<% content_for(:title, t('.title')) %>
<% breadcrumb :new_recipe %>
<div class="container">
  <div class="row mt-3">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link", data: { turbo: false } %>
    </div>
  </div>
  <h1 class="page-title text-center"><%= t('.title') %></h1>
  <%= form_with model: @recipe do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
    <div class="card custom-card-manual-save mx-auto">
      <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10 text-start">
          <%= f.label :title, class: 'manual-save-form-label' %>
          <%= f.text_field :title, class: 'manual-save-form-control' %>
        </div>
      </div>
      <div class="container py-2 my-5">
        <div class="row recipes-row">
          <div class="col-md-6 col-lg-6 col-12 d-flex justify-content-center mb-5">
            <div id="ingredients-form" data-controller="dynamic-form" data-mode="new" data-dynamic-form-target="nestedForms">
              <%= f.label :ingredients, class: 'form-label' %>
              <%= f.fields_for :ingredients do |ingredient_fields| %>
                <%= render 'ingredient_fields', f: ingredient_fields %>
              <% end %>
              <%= link_to t('.add_ingredient'), '#', class: 'add-ingredient btn btn-manual_save mt-5', data: { action: 'click->dynamic-form#addIngredientForm' } %>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-12 d-flex justify-content-center">
            <div id="instructions-form" data-controller="dynamic-form" data-mode="new" data-dynamic-form-target="nestedForms">
              <%= f.label :instructions, class: 'form-label'%>
              <%= f.fields_for :instructions  do |instruction_fields| %>
                <%= render 'instruction_fields', f: instruction_fields %>
              <% end %>
              <%= link_to t('.add_instruction'), '#', class: 'add-instruction btn btn-manual_save mt-5', data: { action: 'click->dynamic-form#addInstructionForm' } %>
            </div>
          </div>
        </div>
        <div class="row recipe-image-form">
          <%= f.label :image, class: 'form-label recipe-image-label' %>
          <div class="col-md-6 col-12 d-flex justify-content-center align-items-center mb-5">
            <%= f.file_field :image, class: 'form-control image-form' %>
            <%= f.hidden_field :image_cache %>
          </div>
          <div class="col-md-4 col-12 d-flex justify-content-center align-items-center mb-5">
            <%= image_tag @recipe.image.url, id: 'preview', size: '130x100' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <div class="col d-flex justify-content-center align-items-center">
        <%= f.submit t('.save'), class: "btn btn-primary", data: { turbo: false } %>
      </div>
    </div>
  <% end %>
</div>
