<% content_for(:title, t('.title')) %>
<% breadcrumb :search_recipes %>
<div class="container">
  <div class="row mt-3">
    <div class="col-6 d-flex justify-content-start align-items-center">
      <%= breadcrumbs separator: " &rsaquo; " %>
    </div>
    <div class="col-6 d-flex justify-content-end align-items-center">
      <%= link_to t('.to_top_page'), root_path, class: "custom-link", data: { turbo: false } %>
    </div>
  </div>
  <h1 class="page-title text-center"><%= t('.title') %></h1>
  <div class="page-container text-start px-3">
    <!-- 検索フォーム -->
    <%= form_with url: search_recipes_path, method: :get, local: true do %>
      <div class="text-center">
        <%= label_tag :query, "レシピを検索" %>
        <%= text_field_tag :query, params[:query], placeholder: "例: カレー" %>
        <%= submit_tag "検索" %>
      </div>
    <% end %>
    
    <!-- 検索結果表示 -->
    <% if @recipes.present? %>
      <h2 class="px-5 pt-5 pb-3">検索結果：</h2>
      <ul>
        <% @recipes.each do |recipe| %>
          <li class="recipe-item">
            <h3><%= link_to recipe[:title], search_show_recipes_path(source_url: recipe[:source_url]) %></h3>
            <p><%= "（#{recipe[:site_name]}）" %></p>
          </li>
        <% end %>
      </ul>
    <% elsif params[:query].present? %>
      <p>該当するレシピは見つかりませんでした。</p>
    <% end %>
  </div>
</div>
