<footer class="pt-3 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-4 d-flex justify-content-end align-items-center">
        <%= link_to t('footer.inquiry'), new_inquiry_path, class: "custom-link-footer", data: { turbo: false } %>
      </div>
      <div class="col-4 d-flex justify-content-center align-items-center">
        <%= link_to t('footer.terms_of_use'), page_path('terms'), class: "custom-link-footer", data: { turbo: false } %>
      </div>
      <div class="col-4 d-flex justify-content-start align-items-center">
        <%= link_to t('footer.privacy_policy'), page_path('privacy'), class: "custom-link-footer", data: { turbo: false } %>
      </div>
      <div class="w-100"></div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <p class="app-share-footer">アプリをシェア　／</p>
      </div>
      <div class="col-1 d-flex justify-content-center align-items-center">
        <%= link_to "Tweet", "https://twitter.com/share?text=【Menu Maker】%0a%0a&url=#{root_url}%0a&hashtags=MenuMaker", class: "twitter-share-button x-icon-footer", data: { size: "small", show_count: "false", toggle: "tooltip", placement: "bottom" }, title: t('footer.share_X'), target: "_blank" %>
      </div>
      <div class="col-5 d-flex justify-content-start align-items-center">
        <%= link_to image_tag("wide-default.png", alt: "LINEでシェア", class: "line-icon-footer"), "https://social-plugins.line.me/lineit/share?url=#{root_url}&text=【Menu Maker】", class: "line-share-button", target: "_blank", data: { toggle: "tooltip", placement: "bottom" }, title: t('footer.share_LINE') %>
      </div>
    </div>
  </div>
  <p class="text-center text-body-secondary py-2">Copyright &copy; 2024 Menu Maker</p>
</footer>
