<header>
  <nav class="container-fluid">
    <div class="row py-2">
      <!-- 左側の空のカラム -->
      <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
            <%= "いらっしゃいませ、" %>
          </div>
          <div class="w-100"></div>
          <div class="col-12 d-flex justify-content-center align-items-center ms-3">
            <%= link_to current_user.name, profile_path, class: "custom-link", data: { turbo: false } %>&nbsp;様
          </div>
        </div>
      </div>

      <!-- 中央揃えのためのカラム -->
      <div class="col-4 d-flex justify-content-center align-items-center">
        <%= link_to root_path, class: "icon-link", data: { turbo: false } do %>
          <%= image_tag "menu_maker_logo.png", alt: "Menu Maker", class: "logo" %>
        <% end %>
      </div>

      <!-- 右側のリンク -->
      <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="d-flex w-100">
          <div class="col-6 d-flex justify-content-end align-items-center">
            <%= link_to t('header.my_page'), profile_path, class: "custom-link", data: { turbo: false } %>
          </div>
          <div class="col-6 d-flex justify-content-center align-items-center">
            <%= link_to t('header.logout'), logout_path, class: "custom-link", data: { turbo_method: :delete } %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <%= render partial: "shared/navbar" %>
</header>
